<style>
  img[_ngcontent-dnc-c1] {max-width: 71vh;border: 0;margin: 3% -57px -4%;text-align: center;}
  img {max-width: 115%;border: 0;margin: 3% -4%;}
  .input-font{font-size: x-large !important;text-align: center !important;}
</style>

<ion-content id="form-content" justify-content-center>
  <img src="assets/logo-dreams-candy.jpeg" style="margin: -4% auto -17px 4%; width:100%">
  <form  id="login-form" #form="ngForm" (ngSubmit)="authenticate(form)" method="post">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>LOGIN</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input class="input-font" [(ngModel)]="login" name="login" type="text" placeholder="USUARIO" ngModel required></ion-input>
            </ion-item>
            <br>
            <ion-item>
              <ion-input class="input-font" [(ngModel)]="password" name="password" type="password" placeholder="SENHA" ngModel required></ion-input>
            </ion-item>
          </div>
          <div >
            <ion-button [color]="secondary" size="large" type="submit" [disabled]="form.invalid" expand="block">ENTRAR</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
