<style>
  .inscrito {
    font-size: x-large;
  }
  .alert-input-wrapper, .sc-ion-alert-ios > .alert-input, .sc-ion-alert-ios {
    background-color: #bdb76b00 !important;
    border: 0px !important;
    font-size: larger !important;
}
</style>

<ion-header translucent>
  <ion-toolbar color="danger">
    <ion-title> PESQUISAR </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (change)="busca()" placeholder="Encontrar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-checkbox color="primary" (click)="checkInscrito('Nome do cidadão')" ></ion-checkbox>
      <ion-label class="inscrito"> Pedro </ion-label> 
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" (click)="checkInscrito('Nome do cidadão')" large></ion-checkbox>
      <ion-label class="inscrito" class="inscrito"> João </ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" large></ion-checkbox>
      <ion-label class="inscrito"> Maria </ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" large></ion-checkbox>
      <ion-label class="inscrito"> Caio </ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" large></ion-checkbox>
      <ion-label class="inscrito"> Cesar </ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" large></ion-checkbox>
      <ion-label class="inscrito">Miguel</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" large></ion-checkbox>
      <ion-label class="inscrito">Luciana</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" large></ion-checkbox>
      <ion-label class="inscrito">Ricardo</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" large></ion-checkbox>
      <ion-label class="inscrito">Barbara</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" large></ion-checkbox>
      <ion-label class="inscrito">Caio</ion-label>
    </ion-item>
  </ion-list>
</ion-content>