<style>
  .inscrito {
    font-size: x-large;
  }
  .alert-input-wrapper, .sc-ion-alert-ios > .alert-input, .sc-ion-alert-ios {
    background-color: #bdb76b00 !important;
    border: 0px !important;
    font-size: larger !important;
}
</style>

<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title> PESQUISAR </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (change)="busca()" placeholder="Encontrar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list *ngFor="let key of _.keys(inscritos)">
      <ion-item  (click)="checkInscrito( inscritos[key].id_inscricao, key )">
        <ion-checkbox color="primary" large ></ion-checkbox>
        <ion-label class="inscrito" class="inscrito"> {{inscritos[key].nom_pessoa}} </ion-label>
      </ion-item>
  </ion-list>
</ion-content>