/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.badgeNaoEncontrado {
    height: 238px  !important;
    background-color: azure !important;
    font-size:  20pt !important;
    text-align: center !important;
    padding:  79px 0px !important;
    margin: 56% auto !important;
}
.alert-wrapper.sc-ion-alert-md {
    transform: scale(1.3, 1.2) !important;
}
.alert-wrapper.sc-ion-alert-ios {
    transform: scale(1.5) !important;
}
.alert-button.ion-focusable.ion-activatable.danger {
    font-size: 10pt !important;
    width: 30%;
    height: 11vw;
    padding: 0px 9%;
    margin: 0px 17% 0px 0px;
}
.alert-button.sc-ion-alert-md {
    background-color: #0e9ca0 !important;
    color: white !important;
    font-weight: bold !important;
    text-shadow: 1px 0px 2px black !important;
}
.alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
    margin: 0% -11px -33px !important;
    text-align: center;
}
.alert-head.sc-ion-alert-md {
    text-align: -webkit-center !important;
    background-color: #0bb8cc;
    margin: 5%;
}
.alert-button.ion-focusable.ion-activatable.sc-ion-alert-md {
    margin: 0px 6vw 0px 5vw !important;
}
.alert-button.ion-focusable.ion-activatable.sc-ion-alert-ios {
    margin: 0px 0px 0px 0px !important;
}
.alert-button-group.sc-ion-alert-md {
    padding-top: 20px !important;
}